:root {
  --NAVCOLOR: #17252a;
  --BGCOLOR: #d6d6e0;
  --TEXTCOLOR: #2b2c2c;
  --PLIGHT: #e2def2;
  --PDARK: #7455c9;
}

body {
  background-color: var(--BGCOLOR);
  margin: 0;
  font-family: 'Dongle', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* font */
@font-face {
  font-family: 'Dongle';
  src: url('https://fonts.googleapis.com/css?family=Dongle&display=swap');
}

h1,
h2,
h3 {
  font-family: 'Dongle', sans-serif;
  font-weight: bold;
  color: var(--TEXTCOLOR);
}
p {
  font-family: 'Dongle', sans-serif;
  color: var(--TEXTCOLOR);
}
a {
  text-decoration: none;
  color: var(--TEXTCOLOR);
  font-family: 'Dongle', sans-serif;
}

/* header */

header img {
  margin: 10px;
  height: 25px;
}

.site-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav {
  width: 100%;
  background-color: var(--NAVCOLOR);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 999;
}

/* main */
.main {
  flex: 1;
  margin-top: 1rem;
}

.homeheading {
  margin-top: 1rem;
}

.rating span {
  color: rgb(27, 148, 67);
}
.button {
  background-color: var(--NAVCOLOR);
  border: 0px;
  transition: transform 0.2s;
  justify-self: center;
}
.button:hover {
  background-color: var(--NAVCOLOR);
  transform: scale(1.05);
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product {
  margin: 1rem;
  transition: transform 0.2s;
  border: none;
  border-radius: 12px;
  box-shadow: 11px 11px 56px #b1b1b1, -11px -11px 56px #ffffff;
}
.product:hover {
  transform: scale(1.05);
}
.product img {
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.product-info {
  padding: 0.5rem;
}
.img-large {
  max-width: 100%;
  border-radius: 5px;
  box-shadow: #17252a;
}

.card {
  background-color: var(--BGCOLOR);
  border-radius: 5px;
}
.cardBody {
  background-color: var(--BGCOLOR);
}

footer {
  margin-top: auto;
  padding: 1rem;
}
