:root {
  --NAVCOLOR: #17252a;
  --BGCOLOR: #d6d6e0;
  --TEXTCOLOR: #2b2c2c;
  --PLIGHT: #e2def2;
  --PDARK: #7455c9;
}

body {
  background-color: var(--BGCOLOR);
  margin: 0;
  font-family: 'Dongle', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* font */
@font-face {
  font-family: 'Dongle';
  src: url('https://fonts.googleapis.com/css?family=Dongle&display=swap');
}

h1,
h2,
h3 {
  font-family: 'Dongle', sans-serif;
  font-weight: bold;
  color: var(--TEXTCOLOR);
}
p {
  font-family: 'Dongle', sans-serif;
  color: var(--TEXTCOLOR);
}
a {
  text-decoration: none;
  color: var(--TEXTCOLOR);
  font-family: 'Dongle', sans-serif;
}
Link:hover {
  color: rgb(27, 148, 67);
}
/* header */

header img {
  margin: 10px;
  height: 25px;
}

.site-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav {
  width: 100%;
  background-color: var(--NAVCOLOR);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 999;
}

.nav-link {
  position: relative;
}

.nav-link .badge {
  position: absolute;
  top: 0px;
  right: -1px;
}

.nav-link .cart-icon {
  font-size: 1.5rem;
  color: var(--BGCOLOR);
}

/* main */
.main {
  flex: 1;
  margin-top: 1rem;
}

.homeheading {
  margin-top: 1rem;
}

.rating span {
  color: rgb(27, 148, 67);
}
.button {
  background-color: var(--NAVCOLOR);
  border: 0px;
  transition: transform 0.2s;
  justify-self: center;
}
.button:hover {
  background-color: var(--NAVCOLOR);
  transform: scale(1.05);
}
.button:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.button-light {
  background-color: var(--PLIGHT);
  border: 0px;
  padding: 3px;
  color: var(--NAVCOLOR);
  font-weight: bold;
  border-radius: 5px;
  transition: transform 0.2s;
}
.button-light:hover {
  background-color: var(--PLIGHT);
  color: var(--NAVCOLOR);
  transform: scale(1.05);
}
.button-light:active {
  background-color: var(--PLIGHT);
  border: 0px;
  color: var(--NAVCOLOR);
  font-weight: bold;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product {
  margin: 1rem;
  transition: transform 0.2s;
  border: none;
  border-radius: 12px;
  box-shadow: 11px 11px 56px #b1b1b1, -11px -11px 56px #ffffff;
}
.product:hover {
  transform: scale(1.05);
}
.product img {
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.product-info {
  padding: 0.5rem;
}
.img-large {
  max-width: 100%;
  border-radius: 5px;
  box-shadow: #17252a;
}
.img-thumbnail {
  height: 80px;
}
.small-container {
  max-width: 600px;
}

.iconOnlight {
  background-color: var(--BGCOLOR);
  border: 0px;
  transition: transform 0.2s;
  justify-self: center;
}
.iconOnlight:hover {
  background-color: var(--BGCOLOR);
  transform: scale(1.05);
}
.iconOnlight:disabled {
  background-color: var(--BGCOLOR);
}

.card {
  background-color: var(--BGCOLOR);
  border-radius: 5px;
}
.cardBody {
  background-color: var(--BGCOLOR);
}

.dark-container {
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 2rem;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.3);
  padding: 20px;
  border-radius: 24px;
  background: linear-gradient(145deg, #19282d, #152126);
  box-shadow: 5px 5px 10px #0e171a, -5px -5px 10px #20333a;
}
.SI-title {
  color: var(--PLIGHT);
  text-align: center;
}
.light-text {
  color: var(--PLIGHT);
}
.light-text:hover {
  color: var(--PLIGHT);
}
/* checkout steps */
.checkout-steps {
  margin-top: 1rem;
  height: 10px;
  border-radius: 5px;
}
.checkout-steps .progress-bar {
  border-bottom: 0.2rem solid rgb(22, 124, 42);
  background-color: rgb(27, 148, 67);
  border-radius: 10px;
}
/* checkout steps end*/
.form-check-input:checked + .form-check-label {
  border-color: rgb(27, 148, 67);
  color: rgb(27, 148, 67);
  background-color: var(--BGCOLOR);
  padding-right: 3px;
  padding-left: 3px;
  border-radius: 5px;
}
input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #e6f7e6;
  content: '';
  display: inline-block;
  visibility: visible;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  position: relative;
  background-color: #e6f7e6;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid rgb(131, 240, 42);
}
.edit {
  background-color: var(--NAVCOLOR);
  border: 0px;
  padding: 5px;
  color: var(--PLIGHT);
  border-radius: 5px;
  transition: transform 0.2s;
}
.card-Body {
  background-color: var(--NAVCOLOR);
}

footer {
  margin-top: auto;
  padding: 1rem;
}
